<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Upload files to the Remarkable">
    <title>Upload files to the Remarkable</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Rm Uploader</a>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content wrapper">
            <p id="toast" {{ if not . }}hidden{{ end }}>{{ if . }}{{ . }}{{ end }}</p>

            <h2 class="content-head is-center">Remarkable tablet file uploader</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 is-center">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Quickly upload files to your device
                    </h3>
                    <p>Just use the below file uploader to get your files sent to your device.</p>
                </div>
            </div>

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-2-5">
                    <div class="pure-form is-center">
                        <fieldset>
                            <input id="file" type="file" name="file" />
                        </fieldset>
                    </div>

                    <form method="post" action="/" class="pure-form pure-form-stacked is-center">
                        <fieldset>
                            <p>Or enter the URL of a webpage that you want to export to your device (wkhtmltopdf is required).</p>
                            <input type="url" name="url" placeholder="https://example.com">
                            <button type="submit" class="pure-button pure-button-primary">Send</button>
                        </fieldset>
                    </form>
                </div>

            </div>
            
            <div class="pure-g">
                <div class="is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="400" alt="File Icons" class="pure-img-responsive" src="img/rm.png">
                </div>
            </div>
        </div>

        <div class="footer l-box is-center">
            We need simple ways to interact with our favorite device.
        </div>

    </div>

    <script>
        function hideToast() {
            document.getElementById("toast").hidden = true;
            document.getElementById("toast").innerHTML = '';
        }
        function showToast(msg) {
            document.getElementById("toast").innerHTML = msg;
            document.getElementById("toast").hidden = false;
        }
    </script>

    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement );
        FilePond.setOptions({
            allowDrop: true,
            allowMultiple: true,
            allowReplace: false,
            instantUpload: false,
            allowRevert: true,
            dropOnPage: true,
            labelIdle: 'Drag & Drop a file or <span class="filepond--label-action"> Browse </span>',
            server: {
                process: {
                    url: 'upload',
                    method: 'POST',
                    onerror: (response) => {
                        showToast(response); 
                        return response.data;
                    }
                },
                revert: {
                    url: 'delete',
                    method: 'DELETE',
                    onerror: (response) => {
                        showToast(response); 
                        return response.data;
                    }
                }
            }
        });

        pond.on('processfile', (error, file) => {
            if (!error) {
                showToast('file request processed'); 
            }
        });
    </script>
</body>
</html>
